* {
  padding: 0;
  margin: 0; }

header {
  font-family: "Oswald", sans-serif; }
  header .navbar {
    background-color: grey; }

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateY(1000px); }
  to {
    opacity: 1;
    transform: translate(0); } }

main {
  animation: transitionIn 0.5s; }

@keyframes navbar {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.navbar {
  animation: navbar 0.5s; }

main {
  min-height: 80vh;
  max-width: 100vw; }
  main h1 {
    font-family: "Oswald", sans-serif;
    text-align: center;
    margin: 20px; }
  main .breadcrumb {
    align-self: flex-end;
    font-family: "Oswald", sans-serif; }
    main .breadcrumb ol {
      margin-left: 15px; }
    main .breadcrumb li {
      margin: 3px; }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    main {
      min-height: 80vh; } }

footer {
  overflow: hidden; }
  footer .copyright {
    font-family: "Oswald", sans-serif;
    font-size: 15px;
    color: #969696; }
  footer ul {
    display: flex;
    justify-content: flex-end; }
  footer .redes-sociales img {
    height: 20px;
    width: auto;
    margin: 15px; }
  footer .redes-sociales li {
    list-style-type: none;
    transition: 0.05s; }
    footer .redes-sociales li:hover {
      transform: scale(1.2); }

.navbar-index {
  position: static; }

.main-index {
  position: relative;
  /*Vista Desktop*/
  /*Vista Tablet*/
  /*Vista Mobile*/ }
  @media only screen and (min-width: 1240px) {
    .main-index img {
      object-fit: cover;
      height: 94vh;
      width: 100vw; } }
  @media only screen and (min-width: 768px) and (max-width: 1239px) {
    .main-index img {
      object-fit: cover;
      height: 94vh;
      width: 100vw; } }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .main-index img {
      object-fit: cover;
      height: 93vh; } }

.obras-main {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; }
  .obras-main .img-obras {
    object-fit: cover;
    height: 500px;
    margin: 8px 2px;
    transition: 0.2s; }
    .obras-main .img-obras:hover {
      filter: blur(10px); }

.img-exp {
  align-self: center;
  display: block;
  width: auto;
  height: 62vh;
  object-fit: contain; }

.obras-flex {
  display: flex;
  flex-direction: column; }

.breadcrumb-back {
  width: 83vw;
  position: relative;
  left: 15vw; }
  .breadcrumb-back a {
    color: black;
    transition: 0.25s; }
    .breadcrumb-back a:hover {
      color: #d60c74; }

.breadcrumb-next {
  width: 85vw;
  display: flex;
  justify-content: flex-end;
  align-self: center; }
  .breadcrumb-next a {
    color: black;
    transition: 0.25s; }
    .breadcrumb-next a:hover {
      color: #d60c74; }

@media only screen and (min-width: 0px) and (max-width: 767px) {
  .img-exp {
    max-width: 100vw;
    height: auto;
    margin: 5px; } }

.textos-main {
  overflow: hidden;
  height: 83vh; }

.textos-flex {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  overflow: hidden; }
  .textos-flex .card {
    margin: 5px; }
    .textos-flex .card .card-title {
      font-family: "Oswald", sans-serif; }
    .textos-flex .card .card-text {
      font-family: "Quicksand", sans-serif;
      font-weight: 400; }
    .textos-flex .card .card-link {
      text-decoration: none;
      color: black;
      transition: 0.5s; }
      .textos-flex .card .card-link:hover {
        color: #3a3a3a; }

.main-text-exp {
  overflow: hidden; }

.texto-exp {
  text-align: center;
  font-family: "Roboto", sans-serif;
  line-height: 5vh; }
  .texto-exp .breadcrumb-back a {
    color: black;
    transition: 0.25s; }
    .texto-exp .breadcrumb-back a:hover {
      color: #d60c74; }
  .texto-exp .breadcrumb-next {
    width: 85vw;
    display: flex;
    justify-content: flex-end;
    align-self: center; }
    .texto-exp .breadcrumb-next a {
      color: black;
      transition: 0.25s; }
      .texto-exp .breadcrumb-next a:hover {
        color: #d60c74; }

@media only screen and (min-width: 0px) and (max-width: 767px) {
  .texto-exp {
    text-align: center;
    font-family: "Roboto", sans-serif;
    line-height: 4vh; }
  #dimensiones {
    line-height: 4vh; } }

/* sobre mi */
.row {
  max-width: 99vw; }

.sobreMiMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .sobreMiMain .sobreMi {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    line-height: 25px;
    text-align: center; }
  .sobreMiMain .fotoPerfil {
    height: 25vh;
    width: auto;
    margin-bottom: 20px;
    margin-top: 10px; }

.contacto {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .contacto a {
    text-decoration: none;
    color: black;
    transition: 0.3s; }
    .contacto a:hover {
      color: #d60c74; }
  .contacto h2 {
    font-family: "Oswald", sans-serif;
    text-align: center;
    text-decoration: none; }
  .contacto img {
    align-self: center;
    justify-self: center;
    height: 4.5rem;
    margin: 40px; }
    .contacto img a {
      transition: 0.5s; }
      .contacto img a:hover {
        transform: scale(10px); }

.redes-contact {
  width: 100vw; }
  .redes-contact ul {
    display: flex;
    justify-content: center; }
  .redes-contact li {
    list-style-type: none;
    transition: 0.2s; }
    .redes-contact li:hover {
      transform: scale(1.5); }

/*Vista Desktop*/
@media only screen and (min-width: 1240px) {
  h2 {
    font-size: 6rem; } }

/*Vista Tablet*/
@media only screen and (min-width: 768px) and (max-width: 1239px) {
  h2 {
    font-size: 4rem; }
  .redes-contact img {
    height: 3.5rem; } }

/*Vista Mobile*/
@media only screen and (min-width: 0px) and (max-width: 767px) {
  h2 {
    font-size: 1.8rem; }
  .redes-contact img {
    height: 3.5rem; } }

.videos-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center; }
  .videos-flex .videos-desktop {
    margin: auto; }
  .videos-flex .videos-mobile {
    margin: auto; }

@media only screen and (min-width: 1240px) {
  .videos-desktop {
    display: inline-block;
    overflow: hidden; }
  .videos-mobile {
    display: none; } }

@media only screen and (min-width: 0px) and (max-width: 767px) {
  .videos-desktop {
    display: none; }
  .videos-mobile {
    display: inline-block;
    overflow: hidden; } }
