@import "variables";
.contacto {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // link email
  a {
    text-decoration: none;
    color: black;
    transition: 0.3s;
    &:hover {
      color: rgb(214, 12, 116);
    }
  }
  h2 {
    font-family: $font1;
    text-align: center;
    text-decoration: none;
    margin: 30px;
  }
  //   logos de redes

  img {
    align-self: center;
    justify-self: center;
    height: 4.5rem;

    a {
      transition: 0.5s;
      &:hover {
        transform: scale(10px);
      }
    }
  }
}
.redes-contact {
  margin: 18px;
  width: 100%;
  #minerva {
    height: 6rem;
  }
  ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  li {
    list-style-type: none;
    transition: 0.2s;
    &:hover {
      transform: scale(1.5);
    }
  }
}
/*Vista Desktop*/
@media only screen and (min-width: 1240px) {
  h2 {
    font-size: 6rem;
  }
}
/*Vista Tablet*/
@media only screen and (min-width: 768px) and (max-width: 1239px) {
  h2 {
    font-size: 4rem;
  }
  .redes-contact {
    img {
      height: 3rem;
    }
    #minerva {
      height: 4rem;
    }
  }
}
/*Vista Mobile*/
@media only screen and (min-width: 0px) and (max-width: 767px) {
  h2 {
    font-size: 1.8rem;
  }
  .redes-contact {
    #minerva {
      height: 5rem;
    }
    img {
      height: 3rem;
    }
  }
}
// Final