@import "variables";
// Reset
* {
  padding: 0;
  margin: 0;
}
// Header
header {
  font-family: $font1;
  @media only screen and (min-width: 1240px) {
    nav {
      min-height: 4vh;
      max-height: 6vh;
      background-color: none;
    }
  }
}
// Main
main {
  min-height: 83vh;
  h1 {
    font-family: $font1;
    text-align: center;
    margin: 20px;
  }
  .breadcrumb {
    align-self: flex-end;
    font-family: $font1;
    ol {
      margin-left: 15px;
    }
    li {
      margin: 3px;
    }
  }
  // main mobile
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    min-height: 80vh;
  }
}
// footer
footer {
  overflow: hidden;
  max-height: 7vh;

  .copyright {
    font-family: $font1;
    font-size: 15px;
    color: rgb(150, 150, 150);
  }
  ul {
    display: flex;
    justify-content: flex-end;
  }
  .redes-sociales {
    img {
      height: 20px;
      width: auto;
      margin-right: 5px;
    }
    li {
      list-style-type: none;
      transition: 0.05s;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
// animacion
@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateY(1000px);
  }

  to {
    opacity: 1;
    transform: translate(0);
  }
}
.animation {
  animation: transitionIn 0.5s;
}
@keyframes navbar {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.navbar {
  animation: navbar 0.5s;
}
// 404
.e404 {
  text-align: center;
  font-family: $font4;
  line-height: 5vh;
  margin: 30px;
}
// Final