.navbar-index {
  position: static;
}
.main-index {
  position: relative;
  /*Vista Desktop*/
  @media only screen and (min-width: "1240px") {
    img {
      object-fit: cover;
      height: 94vh;
      width: 100vw;
    }
  }
  /*Vista Tablet*/
  @media only screen and (min-width: 768px) and (max-width: 1239px) {
    img {
      object-fit: cover;
      height: 94vh;
      width: 100vw;
    }
  }
  /*Vista Mobile*/
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    img {
      object-fit: cover;
      height: 91vh;
    }
  }
}
// Final